
@model IEnumerable<DostEli.Models.Table_Question>
@{ int number = 1;
    int gomines = 0; }
<script src="~/Content/assets/js/jquery.min.js"></script>

<div class="card">
    <div class="card-body">
        <div class="card-title text-center">Anket Cevaplama Sayfası</div>
        <hr>
        @using (Html.BeginForm("Create", "Answer"))
        {
<div class="form-group">
    @Html.DropDownList("Code", (SelectList)ViewBag.Volunteer, "Lütfen Kişi Seçiniz", new { @class = "form-control" })
</div> foreach (var item in Model)
{
<b></b>
                    <input name="@item.Question" id="Question_@item.Q_Id" value="@item.Question" type="hidden" />
                                        <span style="font-weight:bold">@number)</span>
                                                            @item.Question

                                                                                <br /><br />

                                                                                                    <div class="icheck-material-primary icheck-inline">
                                                                                                        <input type="radio" id="Id_@item.Q_Id" name="Answer_@item.Q_Id" class="radio_@item.Q_Id" value="@DostEli.Constants.AnswerType.Yes">
                                                                                                        <label for="Id_@item.Q_Id">@DostEli.Constants.AnswerType.Yes</label>
                                                                                                        <input type="radio" id="Id_@gomines" name="Answer_@item.Q_Id" class="radio_@item.Q_Id" value="@DostEli.Constants.AnswerType.No">
                                                                                                        <label for="Id_@gomines">@DostEli.Constants.AnswerType.No</label>
                                                                                                    </div>
                                                                                                                        <script>
                    $(document).ready(function () {
                    $('.radio_@item.Q_Id').click(function () {
                        var formdata = new FormData();
                        var code = $('#Code').val();
                        formdata.set("Code", code);
                        var namesurname = $('#Code :selected').text();
                        formdata.set("NameSurname", namesurname);
                        var quesition = $('#Question_@item.Q_Id').val();
                        formdata.set("Question", quesition);
                        var answer = $('input[name="Answer_@item.Q_Id"]:checked').val();
                        formdata.set("Answer", answer);
                        if (code == '') {
                            $('#warningMessage').modal('show');
                            return;
                        }
                        $.ajax({
                            url: "/Answer/SendData",
                            data: formdata,
                            type: "POST",
                            cache: false,
                            contentType: false,
                            processData: false,
                            successs: function (data) {
                                if (data == "True") {
                                }
                            },
                            error: function (data) {
                                alert("Ekleme işlemi sırasında bir hata meydana geldi!");
                            }
                        });
                        });
                    });
                                                                                                                        </script> gomines--;
                                                                                                                                            number++;
                                                                                                                                        }
                                                                                                                        <div class="form-group">
                                                                                                                            <button type="submit" class="btn btn-round btn-success shadow-success px-5" onclick="alert('Geri Dönüşünüz İçin Teşekkür Ederiz :)')"><i class="icon-lock"></i> Kaydet</button>
                                                                                                                        </div>}
    </div>
</div>
<div class="modal fade" id="warningMessage">
    <div class="modal-dialog">
        <div class="modal-content border-warning">
            <div class="modal-header bg-warning">
                <h5 class="modal-title text-white"><i class="fa fa-star"></i> Uyarı</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lütfen bir kişi seçiniz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>